@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#faq {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
  background: #f9fff0;
  font-family: "Roboto", sans-serif;
  padding-top:60px;
}
.faq-introduction {
  text-align: center;
  margin-bottom: 30px;
}
.faq-introduction h1 {
  font-size: 2.25rem;
  margin: 1.25rem auto 10px;
  font-weight: bold;
  color:#333333;
}
.faq-introduction p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.5;
}
.faq-container {
  width: 95%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.faq-content {
  display: flex;
  align-items: start;
  line-height: 1.5;
}
.faq-content img {
  max-width: 40%;
  object-fit: contain;
  padding: 10px;
  margin-right: 10px;
}
#questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  list-style: none;
  flex: 1;
}
#questions li {
  background-color: #96bb5e;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.question {
  padding: 14px;
  position: relative;
  color: white;
  cursor: pointer;
  font-weight: 500;
  display: flex;
}
.question > span {
  width: 90%;
  font-size: 1.1rem;
}
.question::after {
  content: "+";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 1.3rem;
}
.question.active::after {
  content: "-"; /* Change content when active */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 1.3rem;
}
.answer {
  padding: 14px;
  background-color: #ececec;
  border-radius: 0 0 10px 10px;
  /* display: none; */
  font-size: 1.1rem;
  font-weight: 300;
  color: #333333;
}
@media (max-width: 900px) {
  .question,
  .answer {
    padding: 12px;
  }
  .faq-content img {
    margin-right: 7px;
    padding: 7px;
  }
  #questions {
    padding: 7px;
  }
  .faq-container {
    padding: 7px;
  }
}

@media (max-width: 800px) {
  #faq{
    padding: 5px;
  }
  div.faq-introduction {
    margin-bottom: 0px;
  }
  .faq-introduction p {
    margin-bottom: 0px;
  }
  .faq-content {
    flex-direction: column;
    align-items: center;
  }
  .faq-content img {
    max-width: 70%;
    margin-right: 0;
  }
  #questions {
    width: 100%;
  }

}

