*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#dashboard-profile-container {
  width: 100%;
  /* max-width: 960px; */
  border-radius: 1.2em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #a0ba58;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  flex-grow: 1;
}

#dashboard-profile-container .heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.8rem;
  color: rgb(91, 126, 49);
}
#dashboard-profile-container .heading i{
  font-size:1.5rem;
  margin-right:10px;
}




form.dashboard-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  justify-content: space-evenly;
  /* flex-direction: column; */
  margin-bottom: 1rem;
}
#view-profile-form label {
  color: #5b7e31;
  font-size: 1.2rem;
  font-weight: 600;
}

#view-profile-form  p{
  font-size:1.1rem;
  margin-bottom:1rem;
}

#view-profile-form input,
#view-profile-form select {
  width: 100%;
  padding: 6px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: #f9f8f5;
  color: #333;
  transition: border 0.3s;
  font-size: 1.1rem;
}
#dashboard-profile-container input[type="radio"] {
  width: auto;
  margin-right: 10px;
}
#dashboard-profile-container .radio-group label {
  font-size: 1.1rem;
  font-weight: normal;
  color: black;
}

#dashboard-profile-container input:focus {
  border-color: #a0ba58;
  outline: none;
}

#dashboard-profile-container .button-group button {
  background-color: white;
  padding: 12px 18px;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease;
  min-width:100px;
  max-width: 150px;
  border:5px solid #617d3a;
}

/* #profile-container button::after {
  content: "";
  font-size: 1.2rem;
  position: absolute;
  width: 107%;
  height: 120%;
  background-image: linear-gradient(to right, #76ac63, #243e1a);
  z-index:-2;
  border-radius: 2em;
} */
#view-profile-form.dashboard-profile .form-group {
  margin-bottom: 1rem;
  width:40%;
}

#dashboard-profile-container button:hover {
  /* background-image: linear-gradient(to right, #76ac63, #243e1a); */
  background-color:#617d3a ;
  color: white;
}

@media (max-width: 250px) {
  #dashboard-profile-container button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

#dashboard-profile-container input[type="radio"] {
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 2px solid #1a851e;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #255527;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#dashboard-profile-container .button-group {
  width:100%;
  margin-bottom: 1rem;
  gap:20px;
  /* z-index: 20; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .profile-main-container {
    flex-direction: column;
  }
  
  #dashboard-profile-container {
    width: 95%;
    padding: 20px;
    margin-bottom: 30px;
  }
  .profile-main-container *{
    font-size: 14px;
  }
}

@media (max-width: 560px) {
   #dashboard-profile-container {
    padding: 20px;
  }
  /* #profile-container .heading {
    font-size: 1.3rem;
  } */
  #dashboard-profile-container .button-group button {
    padding: 10px 14px;
    font-size: 1.1rem;
  }
 
  /* #profile-container .radio-group label {
    font-size: 1.1rem;
  }
  #profile-container .form-group {
    width: 100%;
  }
  #profile-container input,
  #profile-container select {
    font-size: 1.1rem;
  } */
  #dashboard-profile-container .button-group {
    gap: 10px;
  } 
  form.dashboard-profile{
    flex-direction: column;
   }
  #view-profile-form.dashboard-profile .form-group {
    width: 100%;
  }
}
